<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
  </head>
  <body>
    <h1>Admin Panel</h1>

    <!-- Form for adding a new admin -->
    <form action="/addAdmin" method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
      <button type="submit">Add Admin</button>
    </form>

    <!-- List of admins -->
    <h2>Admins:</h2>
    <ul>
      <% admins.forEach(function(admin) { %>
      <li>
        <%= admin.username %>
        <form
          action="/deleteAdmin/<%= admin._id %>?_method=DELETE"
          method="POST"
        >
          <button type="submit">Delete</button>
        </form>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
