<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Welcome to the Home Page!</h1>

    <div>
      <a href="/emploi">
        <button>Emploi</button>
      </a>

      <a href="/login/actualite">
        <button>Actualite</button>
      </a>

      <a href="/event">
        <button>Event</button>
      </a>

      <a href="/notes">
        <button>Notes</button>
      </a>

      <a href="/demandes">
        <button>Demandes</button>
      </a>

      <a href="/stages">
        <button>Stages</button>
      </a>

      <a href="/admins">
        <button>Admins</button>
      </a>

      <a href="/etudiants">
        <button>Etudiants</button>
      </a>
      <a href="/logout">
        <button>logout</button>
      </a>
    </div>
  </body>
</html>
