<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>ISIMM Clone</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon" />
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet" />

  </head>

  <body>
    <%- include('../partials/header') %>
    <br><br><br><br><br>
    <br>
    <div class="container" data-aos="fade-up">





    <div class="row" style="margin-bottom: -80px;">
      <div class="section-title">
        <h2>Institut</h2>
        <p><a href="./index"> Entreprises partenaires </a></p>
      </div>
    </div>

    <main id="main">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div
            class="col-lg-6 order-1 order-lg-2"
            data-aos="fade-left"
            data-aos-delay="100"
          >
          <br><br>

          <img src="/img/ENTREPRISES PARTENAIRES.jpg" alt="" width="500" height="400" />          </div>
          <div
            class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content"
            style="margin-top: 80px"
          >

            <br /><br />
            <p class="fst-italic">Nous sommes fiers de collaborer avec diverses entreprises partenaires pour offrir à nos étudiants des opportunités de stage, des projets de recherche passionnants et des programmes de formation professionnelle. Ces partenariats renforcent notre engagement envers l'excellence académique et favorisent une collaboration fructueuse entre l'industrie et l'académie.</p>

          </div>
        </div>
      </div>
    </main>




  <div class="row" style="margin-bottom: -80px;">
    <div class="section-title">
      <h2>Institut</h2>
      <p><a href="./index">publier stages </a></p>
    </div>
  </div>

  <main id="main">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div
          class="col-lg-6 order-1 order-lg-2"
          data-aos="fade-left"
          data-aos-delay="100"
        >
        <br><br>

        <img src="/img/PUBLIER STAGES.jpg" alt="" width="500" height="400" />        </div>
        <div
          class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content"
          style="margin-top: 80px"
        >

          <br /><br />
          <p class="fst-italic">Nous offrons un service de publication de stages pour nos étudiants afin de les aider à trouver des opportunités de stage pertinentes dans diverses entreprises et organisations. Les étudiants peuvent accéder à notre plateforme en ligne pour consulter et postuler à des stages dans leur domaine d'études.</p>

        </div>
      </div>
    </div>
    
  </main>
  

<%- include('../partials/footer') %>
<br><br><br>




    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>