<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>About - Mentor Bootstrap Template</title>
    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon" />
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <%- include('../partials/header') %>
    <br>
    <br><br><br><br><br>
    <div class="container" data-aos="fade-up">

      <div class="row" style="margin-bottom: -80px;">
        <div class="section-title">
          <h2>Institut</h2>
          <p><a href="./index"> ISIMM </a></p>
        </div>
      </div>

    <main id="main">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div
            class="col-lg-6 order-1 order-lg-2"
            data-aos="fade-left"
            data-aos-delay="100"
          >
            <br><br>
          <br><br>

          <img src="/img/about.png" alt="" />
          </div>
          <div
            class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content"
            style="margin-top: 80px"
          >
                      <h3><span style="color: green; border-bottom: 2px solid green;">Présentation </span></h3>

            <br /><br />
            <p class="fst-italic"></p>
            <ul>
              <ul>
                <li>
                  <i class="bi bi-check-circle"></i> Offre des programmes de formation de haute qualité en informatique et en mathématiques.
                </li>
                <li>
                  <i class="bi bi-check-circle"></i> Met l'accent sur l'innovation et la recherche dans ses domaines d'expertise.
                </li>
                <li>
                  <i class="bi bi-check-circle"></i> Favorise un environnement d'apprentissage dynamique et interactif pour ses étudiants.
                </li>
              </ul>
              <p>L'ISIMM s'engage à former la prochaine génération de professionnels compétents et à contribuer à l'avancement de la science et de la technologie.</p>
            
          </div>
        </div>
      </div>
    </main>

    <main id="main">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div
            class="col-lg-6 order-1 order-lg-2"
            data-aos="fade-left"
            data-aos-delay="100"
          >
          <br><br>
          <br><br>

          <img src="/img/conseil-scientifique-og.jpg" alt="" width="500" height="400" />
        </div>
          <div
            class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content"
            style="margin-top: 80px"
          >
          <h3><span style="color: green; border-bottom: 2px solid green;">Conseils Scientifique </span></h3>

            <br /><br />
            <p class="fst-italic">Le Conseil Scientifique de l'ISIMM est composé d'experts renommés dans les domaines de l'informatique et des mathématiques. Ce conseil fournit une orientation stratégique et des conseils précieux pour l'élaboration des programmes académiques, la recherche et le développement de l'institut.</p>
            <ul>
              <li>
                <i class="bi bi-check-circle"></i> Expertise multidisciplinaire des membres du conseil.
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Contribution à l'élaboration de programmes académiques pertinents et à jour.
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Promotion de la recherche et de l'innovation dans les domaines de l'informatique et des mathématiques.
              </li>
            </ul>
            <p>Le Conseil Scientifique joue un rôle essentiel dans le maintien de la qualité et de la pertinence des activités académiques de l'ISIMM.</p>
          
          </div>
        </div>
      </div>
    </main>

    <main id="main">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <!-- Left Image Column -->
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <br><br>
          <br><br>

          <img src="/img/departement.jpg" alt="" width="500" height="400" />
          </div>
          <!-- Right Content Column -->
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" style="margin-top: 80px">
            <h3><span style="color: green; border-bottom: 2px solid green;">Département</span></h3>
            <br /><br />
            <p class="fst-italic">Le département de l'ISIMM offre une gamme de programmes académiques spécialisés dans les domaines de l'informatique, des technologies de l'information et des mathématiques. Avec une équipe de professeurs hautement qualifiés et des installations modernes, le département vise à fournir une éducation de qualité et à préparer les étudiants à relever les défis du monde moderne.</p>
            <ul>
              <li>
                <i class="bi bi-check-circle"></i> Programmes académiques spécialisés et pertinents.
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Approche pratique de l'apprentissage avec des laboratoires et des projets.
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Collaboration avec l'industrie pour des opportunités de stage et des projets de recherche.
              </li>
            </ul>
            <p>Le département s'engage à former des professionnels compétents et innovants dans le domaine de l'informatique et des mathématiques.</p>
          </div>
        </div>
      </div>
    </main>
    

    <main id="main">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <!-- Left Image Column -->
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <br><br>
          <br><br>

          <img src="/img/4c.png" alt="" width="500" height="400" />
          </div>
          <!-- Right Content Column -->
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" style="margin-top: 80px">
            <h3><span style="color: green; border-bottom: 2px solid green;">4C</span></h3>
            <br /><br />
            <p class="fst-italic">Le 4C, ou Centre de Communication, de Culture et de Créativité, est un espace dynamique au sein de l'ISIMM qui vise à promouvoir la créativité, l'expression artistique et la communication au sein de la communauté étudiante. Il offre une variété d'activités et d'événements culturels, artistiques et de divertissement.</p>
            <ul>
              <li>
                <i class="bi bi-check-circle"></i> Organisation d'événements culturels et artistiques.
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Ateliers de développement des compétences en communication.
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Promotion de la diversité culturelle et de l'expression créative.
              </li>
            </ul>
            <p>Le 4C encourage les étudiants à explorer leur créativité, à développer leurs compétences en communication et à s'engager dans des activités artistiques pour enrichir leur expérience universitaire.</p>
          </div>
        </div>
      </div>
    </main>
    
    <main id="main">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <!-- Left Image Column -->
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <br><br>
          <br><br>

          <img src="/img/Commité de Qualité.jpg" alt="" width="500" height="400" />
          </div>
          <!-- Right Content Column -->
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" style="margin-top: 80px">
            <h3><span style="color: green; border-bottom: 2px solid green;">Commité de Qualité</span></h3>
            <br /><br />
            <p class="fst-italic">Le Comité de Qualité de l'ISIMM est chargé de garantir la qualité des programmes académiques, des services et des infrastructures de l'institut. Il assure le suivi des normes de qualité établies par les organismes d'accréditation et veille à l'amélioration continue de la qualité dans tous les aspects de la vie universitaire.</p>
            <ul>
              <li>
                <i class="bi bi-check-circle"></i> Évaluation régulière des programmes académiques et des services.
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Mise en place de mécanismes d'assurance qualité pour garantir la satisfaction des étudiants et des parties prenantes.
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Organisation d'audits internes et externes pour maintenir les normes de qualité.
              </li>
            </ul>
            <p>Le Comité de Qualité joue un rôle essentiel dans l'assurance de la qualité de l'enseignement et des services offerts par l'ISIMM, contribuant ainsi à la réussite et à la satisfaction des étudiants.</p>
          </div>
        </div>
      </div>
    </main>
    

    <div class="row" style="margin-bottom: -80px;">
      <div class="section-title">
        <h2>Institut</h2>
        <p><a href="./index"> VIE ETUDIANTE </a></p>
      </div>
    </div>

    <main id="main">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <!-- Left Image Column -->
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <br><br>
          <br><br>

          <img src="/img/centre 4c.png" alt="" width="500" height="400" />
          </div>
          <!-- Right Content Column -->
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" style="margin-top: 80px">
            <h3><span style="color: green; border-bottom: 2px solid green;">Centre 4C</span></h3>
            <br /><br />
            <p class="fst-italic">Le Centre 4C (Centre de Créativité, Collaboration, Communication et Culture) de l'ISIMM est un espace dédié à l'innovation, à l'échange d'idées et à la promotion de la culture.</p>
            <ul>
              <li>
                <i class="bi bi-check-circle"></i> Encouragement de la créativité et de l'innovation à travers des ateliers et des événements.
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Facilitation de la collaboration entre étudiants, enseignants et membres de la communauté.
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Promotion de la communication efficace à travers des projets interdisciplinaires.
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Célébration de la diversité culturelle à travers des activités et des manifestations artistiques.
              </li>
            </ul>
            <p>Le Centre 4C vise à créer un environnement dynamique et inclusif où les membres de la communauté ISIMM peuvent développer leurs compétences, explorer de nouvelles idées et contribuer positivement à la société.</p>
          </div>
        </div>
      </div>
    </main>
    


    <main id="main">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <!-- Left Image Column -->
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <br><br>
          <br><br>

          <img src="/img/Resto-universitaire.jpg" alt="" width="500" height="400" />
          </div>
          <!-- Right Content Column -->
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" style="margin-top: 80px">
            <h3><span style="color: green; border-bottom: 2px solid green;">Resto-universitaire</span></h3>
            <br /><br />
            <p class="fst-italic">Le Resto-universitaire de l'ISIMM offre un espace de restauration et de détente pour les étudiants, le personnel et les visiteurs.</p>
            <ul>
              <li>
                <i class="bi bi-check-circle"></i> Menu varié comprenant des plats équilibrés et des options végétariennes.
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Ambiance conviviale et confortable pour se détendre entre les cours ou les réunions.
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Services de restauration rapides et efficaces pour répondre aux besoins des clients.
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Respect des normes sanitaires et de sécurité pour garantir la satisfaction des clients.
              </li>
            </ul>
            <p>Le Resto-universitaire s'efforce de fournir une expérience culinaire agréable tout en favorisant un environnement accueillant et respectueux de la diversité.</p>
          </div>
        </div>
      </div>
    </main>
    

    <main id="main">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <!-- Left Image Column -->
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <br><br>
          <br><br>

          <img src="/img/Foyer.jpg" alt="" width="500" height="400" />
          </div>
          <!-- Right Content Column -->
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" style="margin-top: 80px">
            <h3><span style="color: green; border-bottom: 2px solid green;">Foyer</span></h3>
            <br /><br />
            <p class="fst-italic">Le foyer de l'ISIMM est un lieu de rencontre et de socialisation pour les étudiants, offrant diverses installations et activités pour enrichir leur expérience universitaire.</p>
            <ul>
              <li>
                <i class="bi bi-check-circle"></i> Espace de détente avec des canapés confortables et des tables pour étudier ou se détendre.
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Équipements de divertissement tels que des jeux de société, des consoles de jeux vidéo et une télévision.
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Organisation d'événements sociaux et culturels tels que des soirées à thème, des projections de films et des ateliers.
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Cafétéria proposant des boissons chaudes et froides, des collations et des repas légers.
              </li>
            </ul>
            <p>Le foyer est un lieu animé où les étudiants peuvent se retrouver, se détendre et participer à des activités enrichissantes en dehors des salles de classe.</p>
          </div>
        </div>
      </div>
    </main>
    

    <main id="main">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <!-- Left Image Column -->
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <br><br>
          <br><br>

          <img src="/img/about.png" alt="" width="500" height="400" />
          </div>
          <!-- Right Content Column -->
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" style="margin-top: 80px">
            <h3><span style="color: green; border-bottom: 2px solid green;">Université Monastir</span></h3>
            <br /><br />
            <p class="fst-italic">L'ISIMM est affilié à l'Université de Monastir, une institution d'enseignement supérieur renommée offrant une gamme variée de programmes académiques et de services pour les étudiants.</p>
            <ul>
              <li>
                <i class="bi bi-check-circle"></i> Large éventail de facultés et de départements offrant des programmes de premier cycle et de cycles supérieurs dans divers domaines d'études.
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Infrastructure moderne comprenant des laboratoires de pointe, des bibliothèques bien approvisionnées et des installations sportives.
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Engagement envers l'excellence académique, la recherche innovante et la contribution à la société.
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Collaboration avec des institutions nationales et internationales pour des projets de recherche et des programmes d'échange.
              </li>
            </ul>
            <p>L'Université de Monastir est un lieu d'apprentissage dynamique où les étudiants sont encouragés à atteindre leur plein potentiel et à devenir des leaders dans leurs domaines respectifs.</p>
          </div>
        </div>
      </div>
    </main>
    

  <div class="row" style="margin-bottom: -80px;">
    <div class="section-title">
      <h2>Institut</h2>
      <p><a href="./index"> VIE ASSOCIATIVE </a></p>
    </div>
  </div>

  <main id="main">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <!-- Left Image Column -->
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <br><br>
          <br><br>

          <img src="/img/Clubs.jpeg" alt="" width="500" height="400" />
        </div>
        <!-- Right Content Column -->
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" style="margin-top: 80px">
          <h3><span style="color: green; border-bottom: 2px solid green;">Clubs</span></h3>
          <br /><br />
          <p class="fst-italic">Les clubs étudiants à l'ISIMM offrent une multitude d'opportunités pour les étudiants de s'engager dans des activités parascolaires, de développer des compétences et de tisser des liens avec leurs pairs.</p>
          <ul>
            <li>
              <i class="bi bi-check-circle"></i> Des clubs axés sur les intérêts académiques, tels que les clubs de programmation, de robotique, et de mathématiques, offrant des ateliers, des conférences et des compétitions.
            </li>
            <li>
              <i class="bi bi-check-circle"></i> Des clubs culturels et artistiques promouvant la diversité et l'expression créative à travers des événements, des expositions et des performances.
            </li>
            <li>
              <i class="bi bi-check-circle"></i> Des clubs sportifs offrant des possibilités de participation à des tournois intra et interuniversitaires dans divers sports, favorisant la santé et le bien-être des étudiants.
            </li>
            <li>
              <i class="bi bi-check-circle"></i> Des clubs sociaux et humanitaires organisant des activités de bénévolat, des collectes de fonds et des projets communautaires pour contribuer positivement à la société.
            </li>
          </ul>
          <p>Les clubs constituent un élément important de la vie étudiante à l'ISIMM, encourageant l'engagement, le leadership et le développement personnel.</p>
        </div>
      </div>
    </div>
  </main>
  

  <main id="main">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <!-- Left Image Column -->
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <br><br>
          <br><br>

          <img src="/img/Events.jpg" alt="" width="500" height="400" />
        </div>
        <!-- Right Content Column -->
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" style="margin-top: 80px">
          <h3><span style="color: green; border-bottom: 2px solid green;">Events</span></h3>
          <br /><br />
          <p class="fst-italic">L'ISIMM organise régulièrement une variété d'événements pour enrichir l'expérience étudiante et promouvoir l'interaction sociale et professionnelle.</p>
          <ul>
            <li>
              <i class="bi bi-check-circle"></i> Des conférences et des séminaires avec des intervenants de l'industrie, des chercheurs renommés et des experts dans divers domaines.
            </li>
            <li>
              <i class="bi bi-check-circle"></i> Des compétitions et des hackathons encourageant l'innovation, la créativité et la résolution de problèmes dans un environnement collaboratif.
            </li>
            <li>
              <i class="bi bi-check-circle"></i> Des événements culturels célébrant la diversité et favorisant l'échange interculturel à travers des festivals, des expositions et des soirées thématiques.
            </li>
            <li>
              <i class="bi bi-check-circle"></i> Des activités de réseautage et de mentorat pour faciliter les opportunités de carrière, les stages et les partenariats professionnels.
            </li>
          </ul>
          <p>Les événements à l'ISIMM offrent aux étudiants des occasions uniques d'apprentissage, de croissance personnelle et de connexion avec l'industrie et la communauté.</p>
        </div>
      </div>
    </div>
  </main>
  

  <main id="main">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <!-- Left Image Column -->
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <br><br>
          <br><br>

          <img src="/img/Opportunités.jpg" alt="" width="500" height="400" />
        </div>
        <!-- Right Content Column -->
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" style="margin-top: 80px">
          <h3><span style="color: green; border-bottom: 2px solid green;">Opportunités</span></h3>
          <br /><br />
          <p class="fst-italic">L'ISIMM offre une gamme d'opportunités pour les étudiants afin de les aider à développer leurs compétences, à explorer de nouvelles avenues et à se préparer pour leur avenir professionnel.</p>
          <ul>
            <li>
              <i class="bi bi-check-circle"></i> Des programmes de mentorat et de coaching pour guider les étudiants dans leur développement personnel et professionnel.
            </li>
            <li>
              <i class="bi bi-check-circle"></i> Des opportunités de stages et de projets de recherche avec des entreprises locales et internationales pour acquérir une expérience pratique.
            </li>
            <li>
              <i class="bi bi-check-circle"></i> Des programmes d'échange et de mobilité internationale pour étudier à l'étranger et découvrir de nouvelles cultures et perspectives.
            </li>
            <li>
              <i class="bi bi-check-circle"></i> Des événements de recrutement et des foires de l'emploi pour rencontrer des employeurs potentiels et explorer les possibilités de carrière.
            </li>
          </ul>
          <p>L'ISIMM s'engage à fournir aux étudiants les ressources et le soutien nécessaires pour tirer parti des opportunités disponibles et atteindre leurs objectifs académiques et professionnels.</p>
        </div>
      </div>
    </div>
  </main>
  

<div class="row" style="margin-bottom: -80px;">
  <div class="section-title">
    <h2>Institut</h2>
    <p><a href="./index"> INTERNATIONAL </a></p>
  </div>
</div>

<main id="main">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <!-- Left Image Column -->
      <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
        <br><br>
          <br><br>

          <img src="/img/Programmes de mobilité.png" alt="" width="500" height="400" />
      </div>
      <!-- Right Content Column -->
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" style="margin-top: 80px">
        <h3><span style="color: green; border-bottom: 2px solid green;">Programmes de mobilité</span></h3>
        <br /><br />
        <p class="fst-italic">L'ISIMM propose une variété de programmes de mobilité internationale pour permettre aux étudiants d'explorer de nouvelles opportunités académiques et culturelles à l'étranger.</p>
        <ul>
          <li>
            <i class="bi bi-check-circle"></i> Programmes d'échange avec des universités partenaires à travers le monde, offrant aux étudiants la possibilité d'étudier dans un environnement international.
          </li>
          <li>
            <i class="bi bi-check-circle"></i> Bourses de mobilité pour soutenir financièrement les étudiants qui souhaitent participer à des programmes d'études à l'étranger.
          </li>
          <li>
            <i class="bi bi-check-circle"></i> Stages internationaux permettant aux étudiants d'acquérir une expérience professionnelle dans des entreprises et des organisations à l'échelle mondiale.
          </li>
        </ul>
        <p>Les programmes de mobilité de l'ISIMM sont conçus pour élargir les horizons des étudiants, renforcer leurs compétences interculturelles et les préparer à réussir dans un monde de plus en plus globalisé.</p>
      </div>
    </div>
  </div>
</main>


<main id="main">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <!-- Left Image Column -->
      <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
        <br><br>
          <br><br>

          <img src="/img/Stages.jpg" alt="" width="500" height="400" />
      </div>
      <!-- Right Content Column -->
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" style="margin-top: 80px">
        <h3><span style="color: green; border-bottom: 2px solid green;">Stages</span></h3>
        <br /><br />
        <p class="fst-italic">L'ISIMM offre à ses étudiants la possibilité d'effectuer des stages dans des entreprises de renom, leur permettant ainsi d'acquérir une expérience pratique et de développer leurs compétences professionnelles.</p>
        <ul>
          <li>
            <i class="bi bi-check-circle"></i> Stages obligatoires intégrés dans le cursus académique pour permettre aux étudiants d'appliquer les connaissances théoriques acquises en classe dans un environnement professionnel réel.
          </li>
          <li>
            <i class="bi bi-check-circle"></i> Stages facultatifs offrant aux étudiants la possibilité d'explorer différents domaines d'activité, d'acquérir de nouvelles compétences et de développer leur réseau professionnel.
          </li>
          <li>
            <i class="bi bi-check-circle"></i> Accompagnement personnalisé par le service des stages pour aider les étudiants à trouver des opportunités de stage pertinentes et à maximiser leur expérience professionnelle.
          </li>
        </ul>
        <p>Les stages jouent un rôle crucial dans la formation des étudiants de l'ISIMM en les préparant à leur future carrière et en favorisant leur insertion professionnelle.</p>
      </div>
    </div>
  </div>
</main>


<main id="main">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <!-- Left Image Column -->
      <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
        <br><br>
          <br><br>

          <img src="/img/Partenariats.jpg" alt="" width="500" height="400" />
      </div>
      <!-- Right Content Column -->
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" style="margin-top: 80px">
        <h3><span style="color: green; border-bottom: 2px solid green;">Partenariats</span></h3>
        <br /><br />
        <p class="fst-italic">L'ISIMM entretient des partenariats stratégiques avec diverses entreprises, institutions académiques et organisations afin d'enrichir l'expérience éducative de ses étudiants et de promouvoir la recherche et l'innovation.</p>
        <ul>
          <li>
            <i class="bi bi-check-circle"></i> Partenariats avec des entreprises de renom offrant des opportunités de stages, de projets collaboratifs et d'emploi pour les étudiants et les diplômés.
          </li>
          <li>
            <i class="bi bi-check-circle"></i> Collaborations avec d'autres institutions académiques pour des échanges d'étudiants, des programmes conjoints, et des projets de recherche.
          </li>
          <li>
            <i class="bi bi-check-circle"></i> Accords de coopération avec des organisations gouvernementales et non gouvernementales pour des projets sociaux, environnementaux et de développement communautaire.
          </li>
        </ul>
        <p>Ces partenariats offrent aux étudiants de l'ISIMM des opportunités uniques de développer leurs compétences, d'explorer de nouveaux domaines et de contribuer à des initiatives d'impact social.</p>
      </div>
    </div>
  </div>
</main>


<main id="main">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <!-- Left Image Column -->
      <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
        <br><br>
          <br><br>

          <img src="/img/Consultation & offres.png" alt="" width="500" height="400" />
      </div>
      <!-- Right Content Column -->
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" style="margin-top: 80px">
        <h3><span style="color: green; border-bottom: 2px solid green;">Consultation & offres</span></h3>
        <br /><br />
        <p class="fst-italic">L'ISIMM propose des services de consultation et offre différentes opportunités à ses étudiants pour les préparer à leur future carrière.</p>
        <ul>
          <li>
            <i class="bi bi-check-circle"></i> Consultation académique et professionnelle pour aider les étudiants à planifier leur parcours académique et professionnel.
          </li>
          <li>
            <i class="bi bi-check-circle"></i> Offres d'emplois et de stages provenant de diverses entreprises et organisations partenaires.
          </li>
          <li>
            <i class="bi bi-check-circle"></i> Soutien à l'entrepreneuriat et à l'innovation à travers des programmes d'incubation et d'accélération.
          </li>
        </ul>
        <p>Grâce à ces services, les étudiants de l'ISIMM bénéficient d'un accompagnement personnalisé et de nombreuses opportunités pour développer leurs compétences et réussir dans leur carrière professionnelle.</p>
      </div>
    </div>
  </div>
</main>


    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>

