<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 footer-contact">
            <h3>Contact</h3>
            <p>
              Avenue de la Corniche  <br />
              Monastir 5000<br />
              Tunisie <br /><br />
              <strong>Phone:</strong> 70 000 000<br />
              <strong>Email:</strong> isimm@gmail.com<br />
            </p>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="https://um.rnu.tn/fr/">Universite Monastir</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="http://www.mes.tn/">mes</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="http://www.isimm.rnu.tn/">old website</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="https://www.linkedin.com/in/bouaziz-meryam-98448426b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">Mariem's Linkedin</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="www.linkedin.com/in/ahmed-adel-akyfg">Ahmed's Lindein</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3237.4447180696293!2d10.838162474525706!3d35.76445072540004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x130212d6df016097%3A0x528cc1e524eece77!2sInstitut%20Sup%C3%A9rieur%20d&#39;Informatique%20et%20de%20Math%C3%A9matiques%20de%20Monastir!5e0!3m2!1sfr!2stn!4v1708879476718!5m2!1sfr!2stn" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>

    

    <div class="container d-md-flex py-4">
      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">


      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://twitter.com/_isimm?lang=ar"class="fa fa-twitter"></a>

        <a href="https://www.facebook.com/profile.php?id=100063489403806"class="fa fa-facebook"></a>

        <a href="https://www.instagram.com/spotted.isimm/"class="fa fa-instagram"></a>

        <a href="https://www.linkedin.com/school/isimm/"class="fa fa-linkedin"></a>

      </div>
    </div>
    </div>
  </footer>